:root {
    /** sunny side **/
    --blue-background: #c2e9f6;
    --blue-border: #72cce3;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    /** dark side **/
    --indigo-background: #808fc7;
    --indigo-border: #5d6baa;
    --indigo-color: #6b7abb;
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;
    /** general **/
    --white: #fff;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}

/*Ripple effect*/
.container-ripple {
    position: relative !important;
    overflow: hidden !important;
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
    animation: ripple-animation 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 10000;
}

@keyframes ripple-animation {
    from { opacity: 1; transform: scale(0) }
    to { opacity: 0; transform: scale(1) }
}